<div class="registerForm w-75 m-auto">
  <div class="text-center form-title m-auto">
    <h2>تسجيل حساب جديد</h2>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="getRegisterData()">
    <div class="row mt-3">
      <div class="col-md-6">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>الأسم</mat-label>
          <input matInput type="text"formControlName="name">
          <mat-error *ngIf="name?.errors?.['required']" >  ** يجب ادخال الاسم </mat-error>
          <mat-error *ngIf="name?.errors?.['minlength']"> يجب ادخال اسم لا يقل على حرفين </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>الأيميل</mat-label>
          <input matInput  type="email" formControlName="email">
          <mat-error *ngIf="email?.errors?.['required']"> ** يجب ادخال الايميل  </mat-error>
          <mat-error *ngIf="email?.errors?.['email']"> **يجب ادخال ايميل بشكل صحيح  </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6  mt-3 ">
        <mat-form-field appearance="outline" color="warn">
          <mat-label> كلمه المرور</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="password?.errors?.['required']" >  ** يجب ادخال الباسورد </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6  mt-3">
        <mat-form-field appearance="outline" color="warn">
          <mat-label>تاكيد كلمه المرور</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
          <mat-error *ngIf="confirmPassword?.errors?.['required']">  ** يجب تاكيد كلمة المرور  </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-12 btnRegister d-flex justify-content-between align-items-center">
      <a routerLink="/login"> تمتلك حساب بالفعل ؟</a>
      <button class="btn"type="submit"[disabled]="!registerForm.valid ||
      (registerForm.value.password!==registerForm.value.confirmPassword)" >انشاء حساب</button>
    </div>
  </form>
</div>
